<footer class="footer">
    <div class="container">
      <span class="text-muted">
        Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ in Anadolu University  </span>
    </div>
  </footer>