<ngb-tabset>
    <ngb-tab title="One">
      <ng-template ngbTabContent>
        <p>These tabs are displayed as pills...</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Two">
      <ng-template ngbTabContent>
        <p>Because default values have been customized.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>