<app-navbar></app-navbar>

<div class="homedeneme">
<ngb-tabset>
    <ngb-tab title="One">
      <ng-template ngbTabContent>
        <p>These tabs are displayed as pills...</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Two">
      <ng-template ngbTabContent>
        <p>Because default values have been customized.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


  <app-homeveri></app-homeveri>
  

</div>

<app-footer></app-footer>