<nav class="navbar navbar-collapse navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Category</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li>
        <form class="navbar-form form-inline my-2 my-lg-0" id="navBarSearchForm">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </li>

    </ul>


    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>




      <div class="modal-body">

        <button class="btn btn-default" (click)="signInAnonymously()" type="button">Anonymously</button>
        <button class="btn btn-default" (click)="signInWithGithub()" type="button">GitHub</button>
        <button class="btn btn-default" (click)="signInWithGoogle()" type="button">Google</button>
        <button class="btn btn-default" (click)="signInWithFacebook()" type="button">Facebook</button>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Login</button>

    <div *ngIf="auth.currentUser">
      
      <h3> {{ auth.currentUserDisplayName }}</h3>
      <img class="card-img-top" [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
      <p class="text-truncate">UID: {{ auth.currentUserId }}</p>
      <button class="button" (click)="logout()">Logout</button>

    </div>

  </div>

</nav>