/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .navbar-center
  {
     
      width: 100%;
      text-align: center;
      margin: auto;
  }

  #navBarSearchForm input[type=text]{width:600px !important;}

  .homedeneme {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

html {
  position: relative;
  min-height: 100%;
}